body
{
	background: #EBECF0;
	font-family: arial;
	font-size: 16px;
}

.page
{
	background: whitesmoke;
 		width: 22cm;
        height: 28cm;
        margin: auto; 
        text-align: center;
        outline-color: lightgray;
        outline-style: groove;
        outline-width: 1px;
        line-height: 1;
        }

h2{
	text-align: center;
	font-weight: bold;
}
.address{
	text-align: center;
	font-weight: lighter;
	font-size: 15px;
}
.line1{
	border: 2px solid black;
}

.eduTitle
{
	text-align: left;
	text-indent: 50px;
	font-weight: bold;
	line-height: .8;
}

.eduContent
{
	text-align: left;
	text-indent: 233px;
	line-height: .5;
}

.CompSkills
{
	text-align: left;
	text-indent: 50px;
	font-weight: ;
	line-height: .5;
}

.ComContent
{
	text-align: left;
	text-indent: 225px;
	line-height: .5;
}
.expTitle
{
	text-align: left;
	text-indent: 50px;
	line-height: .5;

}
.expCont
{
	text-align: left;
	text-indent: 225px;
	line-height: .5;

}
.honCont
{
	text-align: left;
	text-indent: 50px;
	line-height: .5;

}
.actCont
{
	text-align: left;
	text-indent: 50px;
	line-height: .5;

}
.relCont{
	text-align: left;
	text-indent: 50px;
	font-weight: ;
	line-height: .5;

}

.bolded { font-weight: bold; }
.tab {display: inline-block; margin-left: 40px;}
.tab2 {display: inline-block; margin-left: 29px;}
.tab3 {display: inline-block; margin-left: 60px;}
.tab3_2 {display: inline-block; margin-left: 64px;}
.tab4 {display: inline-block; margin-left: 45px;}
.tab5 {display: inline-block; margin-left: 172px;}
